#partner-selected {
    background-color: aquamarine;
}

.partner-selected {
    background-color: aquamarine;
}

.partner-title {
    font-size: 30px; 
}

.partner-button {
    background-color:aquamarine;
}
