#partner-selected {
    background-color: aquamarine;
}

.partner-selected {
    background-color: aquamarine;
}

.partner-title {
    font-size: 30px; 
}


.selectAllCheckbox {
    margin: 0 auto;
    width: 3%;
    height: 3%;
}